[submodule "app/libs/cpp/oboe"]
	path = app/libs/cpp/oboe
	url = https://github.com/google/oboe
[submodule "app/libs/cpp/libnativehelper"]
	path = app/libs/cpp/libnativehelper/src
	url = https://github.com/jonnyandrew/libnativehelper
